.num-list {
    position: absolute;
    padding: 0.2rem;
    background: #f10;
    color: #fff;
}

.nav-justified .nav-item {
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
    -ms-flex-positive: 0;
    flex-grow: 0;
    text-align: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    padding: 0.2rem 1rem;
    color: #fff;
    background-color: #eda85e;
}
.nav-pills .nav-link {
    padding: 0.2rem 1rem;
    border-radius: .25rem;
    border: 1px solid #ddd;
}
 
@media (max-width: 780px) {
    .borderBottom-nav {display: none;}  
    .text-product1 {
        width: 160px;
    } 
}

@media (max-width: 380px) {
    .text-product1 {
        width: 140px;
    } 
}
@media (max-width: 330px) {
    .text-product1 {
        width: 120px;
    } 
    .text-location { 
        width: 245px;
    }
}
.edit-pro{
    position: absolute;
    left: 14px;
    background: #ffffffb0;
    padding: 0.2rem 0.5rem;
    border-bottom-right-radius: 5px;
}

.option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}
.option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}
.option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}
input[type="radio"]{
    display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
    border-color: #0069d9;
    background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
}
.option span{
    font-size: 13px;
    color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
    color: #fff;
}

/* ================== */
.zone{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}
.zone .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}
.zone .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}
input[type="radio"]{
    display: none;
}
#zone-1:checked:checked ~ .zone-1,
#zone-2:checked:checked ~ .zone-2,
#zone-3:checked:checked ~ .zone-3,
#zone-4:checked:checked ~ .zone-4{
    border-color: #0069d9;
    background: #0069d9;
}
#zone-1:checked:checked ~ .zone-1 .dot,
#zone-2:checked:checked ~ .zone-2 .dot,
#zone-3:checked:checked ~ .zone-3 .dot,
#zone-4:checked:checked ~ .zone-4 .dot{
    background: #fff;
}
#zone-1:checked:checked ~ .zone-1 .dot::before,
#zone-2:checked:checked ~ .zone-2 .dot::before,
#zone-3:checked:checked ~ .zone-3 .dot::before,
#zone-4:checked:checked ~ .zone-4 .dot::before{
    opacity: 1;
    transform: scale(1);
}
.zone span{
    font-size: 13px;
    color: #808080;
}
#zone-1:checked:checked ~ .zone-1 span,
#zone-2:checked:checked ~ .zone-2 span,
#zone-3:checked:checked ~ .zone-3 span,
#zone-4:checked:checked ~ .zone-4 span{
    color: #fff;
}